In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
path = '/content/electronika_03_04.xlsx'
df = pd.read_excel(path)

In [ ]:
print(df.info(memory_usage=True)) #данные о признаках

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357036 entries, 0 to 357035
Data columns (total 37 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Order_ID      357036 non-null  object
 1   Email_new     357036 non-null  object
 2   Phone_new     357036 non-null  object
 3   Source        357036 non-null  object
 4   OrderDate     357036 non-null  datetime64[ns]
 5   время         357036 non-null  object
 6   месяц         357036 non-null  int64
 7   ChangeDate    357036 non-null  object
 8   DeliveryDate  357036 non-null  object
 9   PaymentDate   357036 non-null  object
 10  Status        357036 non-null  object
 11  Status_ID     357036 non-null  int64
 12  OneClick      357036 non-null  int64
 13  CancelReason  126168 non-null  object
 14  Actions       95540 non-null   object
 15  DeliveryType  348751 non-null  object
 16  PaymentType   357036 non-null  object
 17  Region        357034 non-null  object
 18  Area          355405 non-null  object
 19  Store_ID      357036 non-null  int64
 20  FullSum       357016 non-null  float64
 21  Discount      357016 non-null  float64
 22  IM_Rozn_Sum   357016 non-null  float64
 23  Row_ID        357016 non-null  float64
 24  Articul       357016 non-null  float64
 25  Nom_Name      356978 non-null  object
 26  NomGroup      357016 non-null  object
 27  Quant         357016 non-null  float64
 28  RowPrice      357016 non-null  float64
 29  RowDiscount   357016 non-null  float64
 30  RowSum        357016 non-null  float64
 31  Brand         190895 non-null  object
 32  TN            190935 non-null  object
 33  TK            190935 non-null  object
 34  NomFullPath   357016 non-null  object
 35  Week          357016 non-null  float64
 36  Nom_ID        357016 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(4), object(21)
memory usage: 100.8+ MB
None

In [ ]:
df = df[df.Phone_new != 0]

In [ ]:
len(df) #стало на 8к записей меньше

349461

In [ ]:
df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Order_ID                                    1303000509_TT
Phone_new                              32565748-000000000
Source                                         Колл-центр
OrderDate                             2016-03-01 00:00:00
время                                        00:00:00.000
месяц                                              201603
ChangeDate                        2016-03-01 08:27:57.000
DeliveryDate                      1900-01-01 00:00:00.000
PaymentDate                       1900-01-01 00:00:00.000
Status                                        В обработке
Status_ID                                               1
OneClick                                                0
PaymentType                                        PayPal
Store_ID                                                0
FullSum                                               0.0
Discount                                              0.0
IM_Rozn_Sum                                           0.0
Row_ID                                                1.0
Articul                                           11510.0
NomGroup                                          3D очки
Quant                                                 0.0
RowPrice                                              0.0
RowDiscount                                       -4375.0
RowSum                                                0.0
NomFullPath     Автомобильная электроника/GPS навигаторы/
Week                                                  9.0
Nom_ID                                                0.0
dtype: object

In [ ]:
df.max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Order_ID                                       5898108_BX
Phone_new                         57565355-57554952485597
Source                                           Терминал
OrderDate                             2016-04-30 00:00:00
время                                        23:59:59.000
месяц                                              201604
ChangeDate                        2016-07-10 11:15:49.000
DeliveryDate                      2016-07-14 00:00:00.000
PaymentDate                       2016-06-04 15:13:42.000
Status                                         Согласован
Status_ID                                              26
OneClick                                                1
PaymentType                                      Наличные
Store_ID                                             9999
FullSum                                          888740.0
Discount                                          40011.0
IM_Rozn_Sum                                      888740.0
Row_ID                                               41.0
Articul                                         1263264.0
NomGroup        Ящики, органайзеры, сумки для инструмента
Quant                                               285.0
RowPrice                                         676240.0
RowDiscount                                       56090.0
RowSum                                           676240.0
NomFullPath             Фото- и видеотехника/Экшн-камеры/
Week                                                 17.0
Nom_ID                                           366186.0
dtype: object

In [ ]:
#df = df[df["DeliveryDate"].str.contains("1900") == False]
#df = df[df["PaymentDate"].str.contains("1900") == False]

In [ ]:
df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Order_ID                                    1303000509_TT
Phone_new                              32565748-000000000
Source                                         Колл-центр
OrderDate                             2016-03-01 00:00:00
время                                        00:00:00.000
месяц                                              201603
ChangeDate                        2016-03-01 08:27:57.000
DeliveryDate                      1900-01-01 00:00:00.000
PaymentDate                       1900-01-01 00:00:00.000
Status                                        В обработке
Status_ID                                               1
OneClick                                                0
PaymentType                                        PayPal
Store_ID                                                0
FullSum                                               0.0
Discount                                              0.0
IM_Rozn_Sum                                           0.0
Row_ID                                                1.0
Articul                                           11510.0
NomGroup                                          3D очки
Quant                                                 0.0
RowPrice                                              0.0
RowDiscount                                       -4375.0
RowSum                                                0.0
NomFullPath     Автомобильная электроника/GPS навигаторы/
Week                                                  9.0
Nom_ID                                                0.0
dtype: object

In [ ]:
#len(df) #стало на 120к записей меньше

In [ ]:
df = df[df["NomFullPath"].str.contains("Услуги") == False] #удаляем данные о доставке и прочих услугах

In [ ]:
df2 = df.groupby('Phone_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )

In [ ]:
df3 = df2[df2['count'] > 80] #рассмотреть детальнее

In [ ]:
df3

                       Phone_new  count
60712   55574954-484951565653705   1356
59749    55574953-54565256525374    423
75       55555750-53535149574979    405
1698     55574850-51534848565673    396
14       55485656-57565656575275    276
49668   55574950-574849515256745    241
3045    55574850-575051575357745    148
120419   55575653-56495057484877    134
449      55574848-51545049555575    129
93891    55575054-57485155535370    125
4474     55574851-49505049485074    122
97618    55575057-53575553514972    108
62595    55574954-50515654534871    106
92391    55575054-55485651574974    102
96048    55575055-55495355575771     90
2095    55574850-535455485554765     89
25199   55574853-555650565650705     88
27206   55574854-505248565549755     87
90961    55575054-53555551505772     87
46893   55574949-575352515756775     87
93783    55575054-56575051575579     81

Клиент с большим количество заказов постоянно заказывает с разной почты товары независимо от их скидки. Возможно, это неверно указанные телефоны или ошибки в данных. Этих клиентов необходимо удалить

In [ ]:
df[df.Phone_new == '55574954-484951565653705']

,Order_ID,Email_new,Phone_new,Source,OrderDate,время,месяц,ChangeDate,DeliveryDate,PaymentDate,...,Quant,RowPrice,RowDiscount,RowSum,Brand,TN,TK,NomFullPath,Week,Nom_ID
1109,1867003416_TT,55666662111109_om15@mail333.com,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,11:05:17.000,201603,2016-03-01 11:19:12.000,2016-03-01 00:00:00.000,2016-03-01 11:19:14.000,...,1.0,3220.0,0.0,3220.0,Bosch,Мелкая бытовая техника,Приготовление пищи,Техника для кухни/Обработка продуктов/Блендеры/,9.0,18500.0
1519,1871000582_TT,562111117_ou14@mail.ru,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,12:04:52.000,201603,2016-03-01 12:19:56.000,2016-03-08 00:00:00.000,2016-03-01 12:19:58.000,...,1.0,7299.0,800.0,6499.0,Redmond,Мелкая бытовая техника,Приготовление пищи,Техника для кухни/Приготовление пищи/Мультиварки/,9.0,25315.0
1711,1961000629_TT,562111117_ou14@mail.ru,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,12:28:31.000,201603,2016-03-01 12:49:42.000,2016-03-08 00:00:00.000,2016-03-01 12:49:44.000,...,1.0,20240.0,0.0,20240.0,Electrolux,Крупная бытовая техника,Встраиваемая техника,Встраиваемая техника/Встраиваемые духовые шкаф...,9.0,38957.0
1798,1962000982_TT,58112117_pu21@rambler.ru,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,12:42:06.000,201603,2016-03-01 12:59:16.000,2016-03-08 00:00:00.000,2016-03-01 12:59:17.000,...,1.0,4310.0,0.0,4310.0,Prestigio,ТВ-Аудио,Автоэлектроника,Автомобильная электроника/GPS навигаторы/,9.0,220668.0
1997,1962001073_TT,55666662111109_om15@mail333.com,55574954-484951565653705,Онлайн-Резерв.,2016-03-01,13:09:24.000,201603,2016-03-01 13:19:25.000,2016-03-08 00:00:00.000,2016-03-01 13:19:27.000,...,1.0,29130.0,0.0,29130.0,Hotpoint-Ariston,Крупная бытовая техника,Холодильное оборудование,Техника для кухни/Крупная бытовая техника/Холо...,9.0,150479.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356374,5897072_BX,101117_eu14@inbox.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,20:05:29.000,201604,2016-04-30 20:13:49.000,2016-04-30 00:00:00.000,2016-04-30 20:13:50.000,...,1.0,4999.0,0.0,4999.0,Samsung,Мелкая бытовая техника,Уход за домом,Техника для дома/Техника для уборки/Пылесосы/П...,17.0,25296.0
356454,5897202_BX,666668105117_iu15@ya.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,20:29:25.000,201604,2016-04-30 21:23:39.000,2016-04-30 00:00:00.000,2016-04-30 21:23:40.000,...,1.0,33490.0,1300.0,32190.0,Hotpoint-Ariston,Крупная бытовая техника,Холодильное оборудование,Техника для кухни/Крупная бытовая техника/Холо...,17.0,151343.0
356470,5897236_BX,556664122109_zm25@gmail.com,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,20:37:02.000,201604,2016-04-30 20:43:48.000,2016-04-30 00:00:00.000,2016-04-30 20:43:48.000,...,1.0,1310.0,0.0,1310.0,Ginzzu,Аксессуары,Аксессуары для смартфонов и планшетов,Телефоны и связь/Аксессуары для телефонов/Порт...,17.0,203883.0
356668,5897554_BX,558115117_su21@psbank.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,21:36:40.000,201604,2016-05-02 14:39:01.000,2016-04-30 00:00:00.000,2016-05-02 14:39:02.000,...,1.0,499.0,33.0,466.0,DF,Аксессуары,Аксессуары для смартфонов и планшетов,Телефоны и связь/Аксессуары для телефонов/Защи...,17.0,182012.0
356669,5897554_BX,558115117_su21@psbank.ru,55574954-484951565653705,Онлайн-Резерв.,2016-04-30,21:36:40.000,201604,2016-05-02 14:39:01.000,2016-04-30 00:00:00.000,2016-05-02 14:39:02.000,...,1.0,14520.0,967.0,13553.0,Indesit,Крупная бытовая техника,Стиральные машины,Техника для дома/Стиральные и сушильные машины...,17.0,5703.0

In [ ]:
df=df[~df.Phone_new.isin(df3.Phone_new)] #удаляем подозрительно много заказов

In [ ]:
len(df) #стало на 98к записей меньше

183072

In [ ]:
df.to_excel("electronika_clean.xlsx")

In [ ]:
df4 = df.groupby(['TN','OrderDate']).sum()

In [ ]:
df4

                              месяц  Status_ID  OneClick  Store_ID  FullSum  \
TN              OrderDate
Автотовары      2016-03-01   403206         28         0      6698   1848.0
                2016-03-05   201603         14         0      3905    699.0
                2016-03-07  1008015         74         0     24807  39341.0
                2016-03-12   201603         14         0      3447    699.0
                2016-03-13   604809         45         0     10454   8314.0
...                             ...        ...       ...       ...      ...
Элитная техника 2016-03-09   201603         14         0      3323  79030.0
                2016-03-25   201603         17         0      3344  73860.0
                2016-03-30   201603         14         0      3484  39780.0
                2016-04-03   201604         14         0      8109  21068.0
                2016-04-21   201604         17         0      3191  11040.0

                            Discount  IM_Rozn_Sum  Row_ID    Articul  Quant  \
TN              OrderDate
Автотовары      2016-03-01       0.0       1848.0     4.0  2275304.0    2.0
                2016-03-05     100.0        699.0     2.0  1137652.0    1.0
                2016-03-07    3666.0      22321.0    10.0  5680536.0    5.0
                2016-03-12       0.0        699.0     2.0  1137652.0    1.0
                2016-03-13    1200.0       8314.0     6.0  3400148.0    3.0
...                              ...          ...     ...        ...    ...
Элитная техника 2016-03-09     500.0      82981.5     2.0  1127823.0    1.0
                2016-03-25       0.0      73860.0     2.0  1136158.0    1.0
                2016-03-30       0.0      39780.0     2.0  1150935.0    1.0
                2016-04-03       0.0      21068.0     2.0  1143201.0    1.0
                2016-04-21       0.0      11040.0     2.0  1159236.0    1.0

                            RowPrice  RowDiscount   RowSum  Week    Nom_ID
TN              OrderDate
Автотовары      2016-03-01    1598.0          0.0   1598.0  18.0   32670.0
                2016-03-05     799.0        100.0    699.0   9.0   16335.0
                2016-03-07    8995.0       1600.0   7395.0  50.0   77949.0
                2016-03-12     699.0          0.0    699.0  10.0   16335.0
                2016-03-13    3897.0          0.0   3897.0  30.0   40605.0
...                              ...          ...      ...   ...       ...
Элитная техника 2016-03-09   79530.0        500.0  79030.0  10.0   10730.0
                2016-03-25   73860.0          0.0  73860.0  12.0   19864.0
                2016-03-30   39780.0          0.0  39780.0  13.0   27465.0
                2016-04-03   21068.0          0.0  21068.0  13.0  315710.0
                2016-04-21   11040.0          0.0  11040.0  16.0   40065.0

[830 rows x 15 columns]

In [ ]:
df4.to_excel("electronika_grouped.xlsx")

In [ ]:
dfc = pd.read_excel('/content/electronika_clean (2).xlsx')

In [ ]:
dfc2 = dfc.groupby(['Actions','OrderDate']).sum()

In [ ]:
dfc2

                                                               Unnamed: 0  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01    10071969
                                                   2016-04-02    12314450
                                                   2016-04-03     8373780
                                                   2016-04-04    11256225
                                                   2016-04-05    14274111
...                                                                   ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11      245430
                                                   2016-04-14      257844
                                                   2016-04-17      279305
                                                   2016-04-25      655903
                                                   2016-04-30      711335

                                                                  месяц  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01  10886616
                                                   2016-04-02  12902656
                                                   2016-04-03   8467368
                                                   2016-04-04  11088220
                                                   2016-04-05  13709072
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11    201604
                                                   2016-04-14    201604
                                                   2016-04-17    201604
                                                   2016-04-25    403208
                                                   2016-04-30    403208

                                                               Status_ID  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01        756
                                                   2016-04-02        896
                                                   2016-04-03        588
                                                   2016-04-04        770
                                                   2016-04-05        952
...                                                                  ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11         14
                                                   2016-04-14         14
                                                   2016-04-17         14
                                                   2016-04-25         28
                                                   2016-04-30         28

                                                               OneClick  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01         4
                                                   2016-04-02         8
                                                   2016-04-03         3
                                                   2016-04-04         4
                                                   2016-04-05         3
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11         0
                                                   2016-04-14         0
                                                   2016-04-17         0
                                                   2016-04-25         0
                                                   2016-04-30         0

                                                               Store_ID  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01    183864
                                                   2016-04-02    264700
                                                   2016-04-03    180273
                                                   2016-04-04    199144
                                                   2016-04-05    237440
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11      2789
                                                   2016-04-14      2656
                                                   2016-04-17      2789
                                                   2016-04-25      4978
                                                   2016-04-30     16292

                                                                FullSum  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01  654675.0
                                                   2016-04-02  993949.0
                                                   2016-04-03  572151.0
                                                   2016-04-04  650611.0
                                                   2016-04-05  662576.0
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11   10999.0
                                                   2016-04-14    6598.0
                                                   2016-04-17    3490.0
                                                   2016-04-25   11648.0
                                                   2016-04-30   11698.0

                                                               Discount  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01         0
                                                   2016-04-02       300
                                                   2016-04-03         0
                                                   2016-04-04      3499
                                                   2016-04-05      1600
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11         0
                                                   2016-04-14         0
                                                   2016-04-17         0
                                                   2016-04-25         0
                                                   2016-04-30         0

                                                               IM_Rozn_Sum  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01     654675.0
                                                   2016-04-02    1004035.0
                                                   2016-04-03     576141.0
                                                   2016-04-04     616141.0
                                                   2016-04-05     653682.0
...                                                                    ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11      10999.0
                                                   2016-04-14       6598.0
                                                   2016-04-17       3490.0
                                                   2016-04-25      11648.0
                                                   2016-04-30      11698.0

                                                               Row_ID  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01     118
                                                   2016-04-02     152
                                                   2016-04-03      84
                                                   2016-04-04     122
                                                   2016-04-05     149
...                                                               ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11       2
                                                   2016-04-14       2
                                                   2016-04-17       1
                                                   2016-04-25       5
                                                   2016-04-30       3

                                                                Articul  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01  63419397
                                                   2016-04-02  75635453
                                                   2016-04-03  49254331
                                                   2016-04-04  64829849
                                                   2016-04-05  80044446
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11   1169663
                                                   2016-04-14   1247814
                                                   2016-04-17   1214807
                                                   2016-04-25   2367795
                                                   2016-04-30   2424436

                                                               Quant  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01     54
                                                   2016-04-02     64
                                                   2016-04-03     42
                                                   2016-04-04     56
                                                   2016-04-05     68
...                                                              ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11      1
                                                   2016-04-14      2
                                                   2016-04-17      1
                                                   2016-04-25      2
                                                   2016-04-30      2

                                                               RowPrice  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01    434297
                                                   2016-04-02    551252
                                                   2016-04-03    479144
                                                   2016-04-04    500991
                                                   2016-04-05    517579
...                                                                 ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11     10999
                                                   2016-04-14      3299
                                                   2016-04-17      3490
                                                   2016-04-25      8498
                                                   2016-04-30      5849

                                                               RowDiscount  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01            0
                                                   2016-04-02          300
                                                   2016-04-03            0
                                                   2016-04-04          803
                                                   2016-04-05          882
...                                                                    ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11            0
                                                   2016-04-14            0
                                                   2016-04-17            0
                                                   2016-04-25            0
                                                   2016-04-30            0

                                                               RowSum  Week  \
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01  434297   702
                                                   2016-04-02  550952   832
                                                   2016-04-03  479144   546
                                                   2016-04-04  503187   770
                                                   2016-04-05  516697   952
...                                                               ...   ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11   10999    15
                                                   2016-04-14    6598    15
                                                   2016-04-17    3490    15
                                                   2016-04-25    8498    34
                                                   2016-04-30    5849    34

                                                                Nom_ID
Actions                                            OrderDate
БесплатнаяДоставкаНаСуммуКорзины                   2016-04-01  4818028
                                                   2016-04-02  7312928
                                                   2016-04-03  4180812
                                                   2016-04-04  5520641
                                                   2016-04-05  7048471
...                                                                ...
СкидкаСуммойПроцентомСЛимитом,БесплатнаяДоставк... 2016-04-11    45673
                                                   2016-04-14   310190
                                                   2016-04-17   180401
                                                   2016-04-25   214192
                                                   2016-04-30   388407

[145 rows x 16 columns]